# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.taxJarDemo.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Emmanuel\RiderProjects\taxJarDemo\.idea\.idea.taxJarDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
